<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
     <style>
 body {
            background-image: url("./backgroundimg.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        #menu {
            background-color: #f5f5f5;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            margin-top: 0;
            font-size: 36px;
        }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.2s ease-in-out;
        }
        a:hover {
            background-color: #0062cc;
        }    </style>
</head>
<body>
    <div id="menu">
        <h1>menu page</h1>
        <a href="/add">add user</a>
        <a href="/search">search user</a>
        <a href="/update">update user</a>
        <a href="/delete">delete user</a>
        <a href="/view">view user</a>
        <a href="/login_register">login and register</a>
    </div>
</body>
</html>